<style>

  .user{
    padding: 0.5em;
  }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top navbar-fixed-top">
        <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">KOLLEGE KAFE</a>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- can add more elements here -->
            </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser){ %>
         
            <li><a href="/login">Login</a></li>
            <li><a href="/register">sign up</a></li>
           <% }
            else { %>
              <li class="user"><a href="#">signed in As <%=currentUser.username %>  </a></li>
            <li class="user"><a href="/logout">Logout</a></li>
           <% }%>
         
        </ul>
      </div>
    </div>
      </nav>
      
</body>