<% layout('./layout/boilerplate')%>
<div class="container">
    <div class="jumbotron">
      <a class ="nav-link" href="/notes" >NOTES/PAPERS</a>
      <hr>
      <a class ="nav-link" href="./travel" >TRAVEL</a>
      <hr>
      <a class ="nav-link" href="./cab" >CAB/TRAIN</a>
    </div>




   

  <div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-bottom navbar-fixed-bottom">
      <div class="container"><strong>Contact Us</strong>
          <ul>
              <li><a href="#">Mail</a></li>
          </ul>
      </div>
  </div>
